<%= form_with(model: alien) do |form| %>
  <% if alien.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alien.errors.count, "error") %> prohibited this alien from being saved:</h2>

      <ul>
        <% alien.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

        
  

  <div class="field">
    <%= form.label :Planeta %>
    <%= form.select :planet_id, Planet.all.map { |index| [index.name.to_s, index.id]},
    {include_blank: 'Selecione o Planeta'},
    { class: "form-control", required: true } %>
  </div>




  <div class="field">
    <%= form.label :Nome %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Idade %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
  <%= form.label :Poderes %>
  <%= collection_check_boxes(:alien, :power_ids, Power.all, :id, :name) %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
