<p id="notice"><%= notice %></p>

<h1>Alienígenas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Planeta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aliens.each do |alien| %>
      <tr>
        <td><%= alien.name %></td>
        <td><%= alien.age %></td>
        <td><%= alien.try(:planet).try(:name) %></td>
        <td><%= link_to 'Ver', alien %></td>
        <td><%= link_to 'Editar', edit_alien_path(alien) %></td>
        <td><%= link_to 'Deletar', alien, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Alien', new_alien_path %>
