<p id="notice"><%= notice %></p>

<h1>Poderes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @powers.each do |power| %>
      <tr>
        <td><%= power.name %></td>
        <td><%= link_to 'Show', power %></td>
        <td><%= link_to 'Editar', edit_power_path(power) %></td>
        <td><%= link_to 'Deletar', power, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Poder', new_power_path %>
